{% extends 'admin/adminNavbarTemplate.html' %}
{% load static %}

{% block body_content %}
    <section class="main-background next-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="appointment-form text-center mt-5 mt-lg-0">
                        <h3 class="mb-5">Find Assessment</h3>
                        <p style="color: red">{{ error_message }}</p>
                        <form action="{% url 'assessment:show_particular_assessment' %}" method="get"
                              autocomplete="off">
                            <div class="form-group">
                                <input type="text" name="assessment_id" placeholder="Assessment Id"
                                       onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Assessment Id'" required>
                            </div>
                            <button type="submit" class="template-btn" style="color: white">Find</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}